In [98]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split 
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import decimal as D
from sklearn import metrics

# Tratamento de dados
dataset = "https://raw.githubusercontent.com/JRcalado/dados/master/alunos.csv"
dados = pd.read_csv(dataset,dtype={
      'Total de boletos que ja  que atrasou' : str,
      'qtd atrasou mais de 30 dias' : str,
      'qtd atrasou mais de 10 dias' : str,
      'Pagador': str})

dados.dropna(axis = 0, inplace = True)
dados.head() #imprime premeiros 5 elementos
# Renomeando  colunas  do csc
a_renomear  = {
    "Total de boletos que ja  que atrasou" : "qtd_boleto_atraso",
    "qtd atrasou mais de 30 dias" : "qtd_30_dias",
    "qtd atrasou mais de 10 dias" : "qtd_10_dias",
    "Pagador"  : "Pagador"
}
dados = dados.rename(columns=a_renomear)

dados.head()
#-----------------------------------------------

# Divide entre as caracteristicas e classes
x =  dados[["qtd_boleto_atraso", "qtd_30_dias","qtd_10_dias"]]
y =  dados[["Pagador"]]

#Divide entre os dados de treino e dados de testes
SEED = 20 
np.random.seed(SEED)
treino_x, teste_x , treino_y , teste_y  = train_test_split(x, y, 
                                                           test_size = 0.25,
                                                           stratify = y)

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

#Instancia o Algoritimo
modelo = DecisionTreeClassifier(max_depth=2)

#treina o algoritimo com os dados
modelo.fit(treino_x, treino_y)

#Realiza a previsão dos dados de teste baseado no treino realizado acima
previsoes = modelo.predict(teste_x)

#Apura a eficacia da previsão
acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

#Monta a saida dos dados já classificados
out = pd.DataFrame(teste_x, columns=['qtd_boleto_atraso','qtd_30_dias','qtd_10_dias'])
out['pagador'] = previsoes
print("Dados classificados")
out.head(10)



# # Exibi a arvore de decisão
# from sklearn.tree import  export_graphviz
# import graphviz

# features = x.columns
# dot_data = export_graphviz(modelo,out_file=None,
#                            filled = True,
#                            rounded = True,
#                            feature_names=features,
#                             class_names = ["mau pagador","sim","regular"],
#                            rotate=False, special_characters=True
#                           )
# grafico =  graphviz.Source(dot_data)

# grafico

Treinaremos com 8574 elementos e testaremos com 2859 elementos
A acurácia foi 95.24%
Dados classificados

      qtd_boleto_atraso qtd_30_dias qtd_10_dias pagador
9843                 30           0           1       1
1485                 15           0           2       1
11279                79           0           0       2
1375                  0           0           0       2
4719                 15           0           2       1
2654                  2           1           2       1
7730                  0           3           0       1
10821                 1           2           1       1
7390                  7           2           1       1
1953                  8           0           3       1